/* BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 254, 198);
  font-family: "Viga", sans-serif;
}

/* NAV */
.navbar-brand {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  text-align: center;
}
.bg-light {
  --bs-bg-opacity: 0;
  background-color: rgb(155, 236, 134) !important;
}

.icon:hover {
  transform: scale(1.1, 1.1);
}
.button_nav:hover {
  transform: scale(1.03, 1.03);
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  /* NAV */
  .nav_center {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .margin_nav a {
    margin-left: 20px;
    margin-right: 20px;
  }
  .modif_img {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* FOOTER */
footer {
  background-color: rgb(155, 236, 134);
  
}
.img_redes_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
}
.img_redes_footer a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.size_redes_footer {
  width: 10%;
  margin: 10px;
  padding: auto;
}
.title_second {
  text-align: center;
  margin: 10px;
}
.size_redes_footer:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (min-width: 480px) {
  .size_redes_footer {
    width: 15%;
  }
  .img_redes_footer {
    display: flex;
    flex-direction: row;
  }
  .img_redes_footer .img_wp {
    justify-content: flex-end;
  }
  .img_redes_footer .img_ig {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1024px) {
  .size_redes_footer {
    width: 10%;
  }
  .img_redes_footer {
    display: flex;
    flex-direction: row;
  }
}

/*--------------- INDEX-------------------- */
.section1 {
  background-image: url("https://images.unsplash.com/photo-1438109382753-8368e7e1e7cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section1 .marco {
  background-color: rgba(122, 204, 102, 0.61);
  border-radius: 10px;
}
.section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
}
.section2 .foto_banner2 img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

.section3 .container_client {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.section3 .container_client .client {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyCIMoVvgeUorJg7MCWuN11stqaQMzCRJA9Q&usqp=CAU");
  width: 50%;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px;
  margin: 5px;
}
.title {
  margin: 10px;
  font-size: 4rem;
}
.title_text {
  font-weight: 200;
  font-style: italic;
  margin: 10px;
  font-size: 1.25rem;
}

.title_second_text {
  font-weight: 200;
  font-style: italic;
  text-align: center;
  margin: 10px;
  padding: 10px;
}
@media screen and (min-width: 480px) {
  .section1 {
    height: 500px;
  }

  .section3 .container_client {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section3 .container_client .client {
    width: 60%;
    height: 150px;
  }
}

@media screen and (min-width: 1024px) {
  .section1 {
    height: 600px;
  }
}

/*--------------- SERVICIOS-------------------- */
.title_general {
  background-color: rgba(252, 250, 129, 0.473);
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.section_services .services {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
}
.services_text {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.services_img {
  background-image: url(https://cdn.pixabay.com/photo/2014/07/05/08/30/lawn-mower-384589_960_720.jpg);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px;
  margin: 5px;
}

@media screen and (min-width: 480px) {
  .section_services .services {
    align-items: center;
    justify-items: center;
  }
  .services_img {
    width: 75%;
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .section_services .services {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
  }
  .services_img {
    width: 100%;
    height: 300px;
  }
}
